<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @project.title %>
</p>

<p>
  <strong>Qa:</strong>
  <%= @project.QA %>
</p>

<p>
  <strong>Dev:</strong>
  <%= @project.Dev %>
</p>

<%= link_to 'Back', projects_path %>
